<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Menu de Operaciones</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/tab.css" />
</head>
<body>
	<div>
		<div th:replace="fragments/menu :: menu" />
		<!-- 		usuario: <p th:text="${pass}"></p> -->

		<div class="inicio">

			<div class="page-header">
				<h2>
					Mis Movimientos <a th:href="@{/rest-report/movimientos}"
						class="btn btn-info btn-sm pull-right">Exportar a PDF</a>
				</h2>

			</div>
			<div class="filter-header">
				<h4>Aplicar Filtros</h4>
				<form id="formMov" class="well form-horizontal"
					th:action="@{/movimientos/filter}" method="POST">
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<label class="control-label">Nro de Cuenta</label> <select
								id="cuentasUser" class="form-control" name="cuenta">
								<option value="0" selected="selected" >Todas las Cuentas</option>
								<option th:each="cuenta : ${cuentas}"
									th:value="${cuenta.nroCuenta}" th:text="${cuenta.nroCuenta}" />

							</select>
						</div>
						<div class="col-xs-6 col-md-3">
							<label class="control-label">Mes</label> <select id="mes"
								class="form-control" name="mes">
								<!-- 								<option value="0" selected="selected">Selecione el -->
								<!-- 									Mes</option> -->
								<option
									th:each="mes : ${T(com.jtc.transpago.bean.Meses).values()}"
									th:value="${mes.displayValue}" th:text="${mes.displayName}" />
							</select>
						</div>
						<div class="col-xs-6 col-md-3">
							<label class="control-label">Anno</label> <select
								class="form-control" id="selectMov" name="anno">
								<!-- 								<option value="0" selected="selected">Seleccione el -->
								<!-- 									Anno</option> -->
								<option th:each="anno : ${annos}" th:value="${anno}"
									th:text="${anno}" />
							</select>
						</div>
						<div class="col-xs-6 col-md-3">

							<button id="btn-search-filter" type="submit"
								class="btn btn-default pull-right">
								Buscar <span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</form>
			</div>



			<!-- 			<select id="cuentasUser" class="form-control"> -->
			<!-- 				<option value="" selected="selected">Selecione la Cuenta</option> -->
			<!-- 				<option th:each="cuenta : ${cuentas}" th:value="${cuenta.id}" -->
			<!-- 					th:text="${cuenta.nroCuenta}" /> -->
			<!-- 			</select> -->


			<!-- 			<form class="well form-horizontal" th:action="@{/movimientos/filter}" -->
			<!-- 				method="POST"> -->
			<!-- 				<select id="cuentasUser" class="form-control" name="meses"> -->
			<!-- 					<option value="" selected="selected">MESES</option> -->
			<!-- 					<option th:each="mes : ${T(com.jtc.transpago.bean.Meses).values()}" -->
			<!-- 						th:value="${mes.displayValue}" th:text="${mes.displayName}" /> -->
			<!-- 				</select> -->
			<!-- 				<div class="form-group"> -->
			<!-- 					<label class="col-md-4 control-label"></label> -->
			<!-- 					<div class="col-md-4"> -->
			<!-- 						<button type="submit" class="btn btn-default pull-right"> -->
			<!-- 							Enviar <span class="glyphicon glyphicon-send"></span> -->
			<!-- 						</button> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 			</form> -->
			
			<th:block th:if="${cuentaSelected != null}">
				<div th:replace="fragments/cuentaDetalle :: cuentaDetalle "></div>
			</th:block>

			<table class="table">
				<thead class="thead-default">
					<th>Nro.</th>
					<th>Fecha</th>
					<th>Tipo Mov</th>
					<th>ID Cuenta</th>
					<th>Monto</th>
				</thead>

				<tbody th:each="movimiento : ${movimientos}">
					<tr>
						<td th:text="${movimiento.id}"></td>
						<td th:text="${movimiento.fecha}"></td>
						<td th:text="${movimiento.tipoMov}"></td>
						<td th:text="${movimiento.idCuenta}"></td>
						<td
							th:class="${movimiento.tipoMov} == 'D'  ? 'debclass' : 'credclass'"
							th:text="${movimiento.tipoMov} == 'D' ? -1 * ${movimiento.monto} : ${movimiento.monto}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/tab.js"></script>
</body>
</html>