<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Menu de Operaciones</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/tab.css" />
</head>
<body>
	<div>
		<div th:replace="fragments/menu :: menu" />
		<!-- 		usuario: <p th:text="${pass}"></p> -->

		<div class="inicio">
			<div class="page-header">
				<h2>Nueva Transferencia:</h2>

			</div>
			<div class="filter-header">
				
				<form id="transf_form" class="well form-horizontal" th:action="@{/movimientos/agregar}" th:object="${transferencia}" method="POST">

					<div class="row">
						<div class="col-md-8 centered">
							<label class="control-label">Nro de Cuenta</label> <select id="cuentasUser"
								class="form-control" name="mes" autofocus="autofocus" tabindex="1" th:field="*{cuentaOrigen}">
								<option th:each="cuenta : ${cuentasDeb}" th:value="${cuenta.nroCuenta}"
									th:text="${cuenta.nroCuenta} + ' -- ' +  ${cuenta.tipo}"/>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 centered">
							<label class="control-label">Nro de Cuenta Beneficiario</label><input id="nroCtaBenef" name="cuentaDestino" type="hidden" value="" th:field="*{cuentaDestino}"></input> <input
								type="text" id="beneficiario" name="cuenta"
								class="form-control input-lg" tabindex="2"
								placeholder="Nro de Cuenta Beneficiario" required="required"></input>
								<span id="errorBenef" class="errorTransf" style="display:none">El numero de cuenta no pertenece a ningun usuario.</span>
						</div>
						
					</div>
					<div class="row">
						<div class="col-xs-8 centered">
							<label class="control-label">Nombre del Beneficiario</label><input
								type="text" id="nombreBeneficiario" name="nombre"
								class="form-control input-lg" tabindex="2"
								placeholder="Beneficiario" disabled="disabled"></input>
								<span id="errorBenef" class="errorTransf" style="display:none">El numero de cuenta no pertenece a ningun usuario.</span>
						</div>
						
					</div>
					<div class="row">
						<div class="col-xs-8 centered">
							<label class="control-label">Monto a Transferir</label> <input
								type="text" id="monto" name="monto"
								class="form-control input-lg" tabindex="1" autofocus="autofocus"
								placeholder="Monto a Transferir" th:field="*{monto}" required="required"></input>
								<span id="errorMonto" style="display:none">La cuenta no cuenta no tiene fondos suficientes para el monto a transferir.</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 centered-button">
							<label class="control-label"></label>
							<button id="btn-search-filter" type="submit"
								class="btn btn-default pull-right">
								Transferir 
<!-- 								<span class="glyphicon glyphicon-search"></span> -->
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>
	
	<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/tab.js"></script>

</body>
</html>