<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="cuentaDetalle">
		<div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h3 class="cta-title" th:text="'Nro Cuenta: ' + ${cuentaSelected.nroCuenta}"></h3>
                            <div class="cta-desc">
<!--                                 <p>Describe the action here.</p> -->
<!--                                 <p>Describe the action here.</p> -->
                                <p th:text="'Tipo de Cuenta: ' +${cuentaSelected.tipo}"></p>
                                <p th:text="'Moneda: ' +${cuentaSelected.moneda}"></p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" th:text="'Saldo: ' +${cuentaSelected.saldo}" class="btn btn-lg btn-block btn-primary"></a>
                        </div>
                     </div>
                </div>
	</div>
</body>
</html>