<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<footer>
					<!-- this is footer -->
<!-- 					<p class="pull-right"> -->
<!-- 						<a href="#">Back to top</a> -->
<!-- 					</p> -->
					<p class="pull-center">
						&copy; 2017 Ing. Alexei P&eacute;rez Hurtado, Inc. &middot; 
<!-- 						<a href="#">Pol&iacute;ticas</a> &middot; <a href="#">T&eacute;rminos</a> -->
					</p>
					<!--             <span sec:authorize="isAuthenticated()"> -->
					<!--                 | Logged user: <span sec:authentication="name"></span> | -->
					<!--                 Roles: <span sec:authentication="principal.authorities"></span> | -->
					<!--                 <a th:href="@{/logout}">Sign Out</a> -->
					<!--             </span> -->

					<!--         <script type="text/javascript" -->
					<!--                 src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

				</footer>
			</div>
		</div>
	</div>
</body>
</html>