<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 	<div th:fragment="header-css"> -->
<!-- 	    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" /> -->
<!-- 		<link rel="stylesheet" href="/css/jtc.css" /> -->
<!--     </div> -->
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Sistema de Autoservicio</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/home}">Inicio</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>