@CHARSET "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext')
	;

.inicio {
	width: 80%;
	margin: auto;
}

.page-header {
	margin-top: 80px;
}

.filter-header {
	margin-top: 10px;
}

#playground-container {
	height: 500px;
	overflow: hidden !important;
}

.main {
	margin-top: 70px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	padding: 0px;
	background: #2196f3;
}

.fb:focus, .fb:hover {
	color: FFF !important;
}

body {
	font-family: 'Raleway', sans-serif;
}

.left-side {
	padding: 0px 0px 0px;
	background-size: cover;
}

.left-side h3 {
	font-size: 30px;
	font-weight: 900;
	color: #FFF;
	padding: 50px 10px 00px 26px;
}

.left-side p {
	font-weight: 600;
	color: #FFF;
	padding: 10px 10px 10px 26px;
}

.fb {
	background: #2d6bb7;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 18px;
	font-size: 12px;
	font-weight: 600;
	margin-right: 15px;
	margin-left: 26px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
}

.tw {
	background: #20c1ed;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 18px;
	font-size: 12px;
	font-weight: 600;
	margin-right: 15px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
}

.right-side {
	padding: 0px 0px 0px;
	background: #FFF;
	background-size: cover;
	min-height: 514px;
}

.right-side h3 {
	font-size: 30px;
	font-weight: 700;
	color: #000;
	padding: 50px 10px 00px 50px;
}

.right-side p {
	font-weight: 600;
	color: #000;
	padding: 10px 50px 10px 50px;
}

.form {
	padding: 10px 50px 10px 50px;
}

.form-control {
	box-shadow: none !important;
	border-radius: 0px !important;
	border-bottom: 1px solid #2196f3 !important;
	border-top: 1px !important;
	border-left: none !important;
	border-right: none !important;
}

.btn-deep-purple {
	background: #2196f3;
	border-radius: 18px;
	padding: 5px 19px;
	color: #FFF;
	font-weight: 600;
	float: right;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
}

p.pull-center {
	text-align: center;
	margin-top: 15px;
	font-weight: bold;
}

#transf_form > div .centered{
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#transf_form > div .centered-button{
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-top: 10px;
}

/* #selectMov {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
	margin-left: 5px;
	border-radius: 18px;
} */
#btn-search-filter {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
	margin-top: 25px;
}

.row-transf {
	margin-left: auto;
	margin-right: auto;
}

.debclass {
	color: red;
}

.credclass {
	color: green;
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

.bs-calltoaction {
	position: relative;
	width: auto;
	padding: 15px 25px;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.bs-calltoaction>.row {
	display: table;
	width: calc(100% + 30px);
}

.bs-calltoaction>.row>[class^="col-"], .bs-calltoaction>.row>[class*=" col-"]
	{
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.cta-contents {
	padding-top: 10px;
	padding-bottom: 10px;
}

.cta-title {
	margin: 0 auto 15px;
	padding: 0;
}

.cta-desc {
	padding: 0;
}

.cta-desc p:last-child {
	margin-bottom: 0;
}

.cta-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    /* background-color: #337ab7;
    border-color: #2e6da4; */
    background-color: #5bc0de;
    border-color: #5bc0de;
}


.errorTransf{
/* 	width: 100%; */
/* 	background-color: red; */
/* 	color: black; */
	
}

.selectCuenta{
	border-bottom: 1px solid red !important;
	border-top: 1px solid red !important;
	border-left: 1px solid red !important;
	border-right: 1px solid red !important;
	
}
