<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Menu de Operaciones</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/tab.css" />

</head>
<body>
	<div>
		<div th:replace="fragments/menu :: menu" />
		Nombre: <p th:text="${name}"></p>
		
		
	</div>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>